.card {
    position: relative;
    width: 500px;
    height: 500px;
    background: #e0e0e0; /* серый фон вокруг */
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform 0.15s ease;
}

.card:hover {
    transform: translateY(-4px);
}

.img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* сохраняем пропорции */
}

.downloadBtn {
    position: absolute;
    top: 10px;
    right: 10px;

    background: rgba(0,0,0,0.5);
    color: white;
    padding: 6px 10px;
    font-size: 10px;
    border-radius: 6px;
    text-decoration: none;

    opacity: 0;
    transition: opacity 0.2s;
}

.card:hover .downloadBtn {
    opacity: 0.65;
}
